<p>
  Os projetos de código aberto são mantidos e apoiados por uma comunidade vibrante de usuários e colaboradores.
</p>
<p>
  Nós encorajamos você a participar ativamente no desenvolvimento e no futuro da AdonisJs, 
  seja contribuindo com o código-fonte, melhorando a documentação, reportando possíveis bugs e/ou testando novos recursos.
</p>


<h3>Canais</h3>
<p>
  Há muitas maneiras de se comunicar com a equipe do AdonisJs.
</p>
<ol>
  <li>
    <a href="https://github.com/adonisjs" target="_blank" rel="noopener noreferrer">Repositórios do Github</a>: 
    Compartilhe bugs ou crie solicitações de recursos contra os repositórios do AdonisJs dedicados.
  </li>
  <li>
    <a href="https://forum.adonisjs.com/" target="_blank" rel="noopener noreferrer">Fórum</a>:
    Faça perguntas, mostre seu projeto e participe da vida do AdonisJs Framework.
  </li>
  <li>
    <a href="https://discord.gg/vDcEjq6" target="_blank" rel="noopener noreferrer">Discord</a>:
    Junte-se ao nosso Discord Server para conversar instantaneamente com outras pessoas da comunidade.
  </li>
  <li>
    <a href="https://twitter.com/adonisframework" target="_blank" rel="noopener noreferrer">Twitter</a>:
    Mantenha-se em contato com o progresso que fazemos todos os dias e ser informado sobre os incríveis 
    projetos fornecidos pela comunidade.
  </li>
</ol>


<h3>Reportando problemas</h3>
<p>
  Fornecer um ótimo relatório de erros pode parecer simples à primeira vista.
</p>
<p>
  Sempre tente ser descritivo e fornecer contexto e informações suficientes para reproduzir o problema.
</p>
<p>
  Os relatórios de erros também podem ser enviados na forma de uma solicitação pull contendo um teste com falha.
</p>
<ol>
  <li>
    Forneça um título e uma descrição claros do problema.
  </li>
  <li>
    Compartilhe a versão do framework em que você está.
  </li>
  <li>
    Adicione o máximo de amostras de código possível para demonstrar o problema. 
    Você também pode fornecer um repositório completo para reproduzir o problema rapidamente.
  </li>
</ol>
<p>
  Lembre-se de que os relatórios de bugs não significam que o bug será corrigido em uma hora!
</p>
<p>
  Ele serve a si mesmo e à comunidade mais ampla para iniciar o caminho da correção do problema antes de denunciá-lo.
</p>


<h3>Estilo de código</h3>
<p>
  Infelizmente, o JavaScript não possui nenhum estilo oficial de codificação.
</p>
<p>
  Por esse motivo, o AdonisJs usa o <a href="https://standardjs.com/" target="_blank" rel="noopener noreferrer">StandardJS</a> 
  para ajudar a manter uma base de código legível e consistente.
</p>
<p>
  Por favor, assegure-se de retirar o seu código antes de enviar pedidos pull para qualquer repositório AdonisJs:
</p>
<pre><code [highlight]="code"></code></pre>


<h3>Documentação</h3>
<p>
  Ao adicionar um novo recurso ao núcleo da estrutura, certifique-se de criar uma 
  pull request paralela no <a href="https://github.com/adonisjs/docs" target="_blank" rel="noopener noreferrer">repositório de documentação</a> 
  e vinculá-lo.
</p>
<p>
  Isso ajudará a equipe do AdonisJs a entender seu recurso e manter a documentação atualizada.
</p>


<h3>Testando</h3>
<p>
  Antes de fornecer uma solicitação pull, certifique-se de testar o recurso que você 
  está adicionando ou crie um teste de regressão para mostrar como uma parte do código 
  falha sob uma circunstância específica, enquanto fornece uma correção de bug.
</p>