<h2>Sumário</h2>
<div uk-grid>
  <div class="uk-width-1-3">
    <h3>Prefácio</h3>
    <ul>
      <li *ngFor="let item of preface">
        <a [routerLink]="item.url">{{item.title}}</a>
      </li>
    </ul>
  </div>
  <div class="uk-width-1-3">
    <h3>Conceito</h3>
    <ul>
      <li *ngFor="let item of concept">
        <a [routerLink]="item.url">{{item.title}}</a>
      </li>
    </ul>
  </div>
  <div class="uk-width-1-3">
    <h3>Começando</h3>
    <ul>

    </ul>
  </div>
</div>

<hr class="uk-divider-icon" />

<div uk-grid>
  <div class="uk-width-1-3">
    <h3>Básico</h3>
    <ul>
      
    </ul>
  </div>
  <div class="uk-width-1-3">
    <h3>Segurança</h3>
    <ul>
      <li *ngFor="let item of security">
        <a [routerLink]="item.url">{{item.title}}</a>
      </li>
    </ul>
  </div>
  <div class="uk-width-1-3">
    <h3>Cavando fundo</h3>
    <ul>
      
    </ul>
  </div>
</div>