<p>  
  O Compartilhamento de Recursos de Origem Cruzada (CORS) é uma 
  maneira de permitir solicitações HTTP recebidas de diferentes domínios.
</p>
<p>
  É muito comum em aplicativos AJAX, em que o navegador 
  bloqueia todas as solicitações entre domínios, caso o servidor não as autorize.
</p>
<p>
  Leia mais sobre o CORS <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS" target="_blank" rel="noopener noreferrer">aqui</a>.
</p>

<h3>Configuração</h3>
<p>
  Instale o provedor de middleware via npm executando o seguinte comando:
</p>