/* You can add global styles to this file, and also import other style files */
@import '~highlight.js/styles/github.css';

@import "style_scss/uikit/variables-theme.scss";
@import "style_scss/uikit/mixins-theme.scss";
@import "style_scss/uikit/uikit-theme.scss";

pre {
    border: none !important;
    background: none !important;
    padding: 0;
}

code {
    padding: 2px !important;
    // background: #2b2b2b !important;
    border-radius: 4px !important;
}

html, 
body,
.general {
    height: 100%;
}



.content {
    width: 95%;
    max-width: 900px;
    margin: 2em auto;
    color: #454F5B;
    padding-bottom: 4em;

    h1, h2, h3, h4, h5, h6 {
        color: #454F5B;
    }

    h3, h4, h5 {
        font-weight: bold;
    }

    a {
        color: #fb2f51;
    }

    blockquote {
        border-left: 4px solid #D33C43; 
        padding-left: 1em;
        font-size: 0.8em;
        color: #454F5B;
    }

    .navigation-title {
        display: flex;
        align-items: center;

        h2{
            margin: 0;
        }
    }
}